.calculator{
    background-color: #585252;
    padding: 20PX;
    width: fit-content;
    height: 150px;

}
.screen{
    width: 250px;
    height: 50px;
    font-size: 30px;
}
.buttons{
    width:50px;
    height: 25px;
    float: left;
    /*border: 10px;*/

}
.clear{
    width:100px;
    height:50px;
    float: right;
}
/*this is all the style code for the calculator*/
