.microwave {
  background-color: black;
  height: 135px;
  width: 140px;
  padding: 20px;
}

#txtNumber {
  background-color: #ddd;
  margin: 10px 10px 10px 0px;
}

.button {
  background: #ddd;
  height: 25px;
  width: 25px;
}

.stopButton, .startButton, .clearButton {
  background: #ddd;
  height: 25px;
  width: 45px;
  font-family: "arial", sans-serif;
}

.stopButton {
  background-color: red;
  color: white;
}

.startButton {
  background-color: green;
  color: white;
}
